
.img-fluid {
    width: 100%;
}

.top-15 {
    margin-top: 15px;
}
.text-indent-50{
    text-indent: 50px;
}

.contato{
	margin-top: 30px;
}

.form-contato{
	margin: 0 auto;
}

.form-contato-titulo{
	margin-bottom: 25px;
}